$dark: #444444;
$light: white;

$first: #0d1527;
$second: #ffa500;
$third: #00caff;
$fourth: #232f3e;

$border: #ccc;
$account-border: #ccc;

$invalid-background: #ffebeb;
$invalid-font: #860000;

$valid-background: #ebf9eb;
$valid-font: #025002;
