/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: -0.5rem;
}
.group > * {
  flex: 0 1 auto;
}
.group > * {
  margin: 0.5rem;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes rotate-cycle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate-cycle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes svg-cross {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes svg-cross {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.load-item::after {
  display: block;
  padding: 12%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  opacity: 0;
  will-change: transform;
  contain: strict;
  -webkit-animation: fade-in 0.1s ease-in forwards, rotate-cycle 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 60 forwards, fade-out 0.1s ease-in 38.1818181818s forwards;
  animation: fade-in 0.1s ease-in forwards, rotate-cycle 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 60 forwards, fade-out 0.1s ease-in 38.1818181818s forwards;
  animation-play-state: paused;
  background: url("data:image/svg+xml;charset=utf8,    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E        %3Cpath stroke='hsla(0deg, 2.2624434389%, 43.3333333333%, 1)' d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='hsla(0deg, 2.2624434389%, 43.3333333333%, 1)'%3E%3C/path%3E    %3C/svg%3E") no-repeat center center;
  width: 50%;
  height: 50%;
  background-size: 50%;
  max-width: 3em;
  max-height: 3em;
}

.load-item::after {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.load-item--success::after {
  display: none;
}
.load-item__progress {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 250ms ease-in-out, visibility 1ms linear 300ms;
  transition: opacity 250ms ease-in-out, visibility 1ms linear 300ms;
}
.load-item__success {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.load-item--failure::after {
  display: block;
  padding: 2%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  opacity: 0;
  -webkit-animation: svg-cross 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation: svg-cross 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  background: url("data:image/svg+xml;charset=utf8,    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 612 612' preserveAspectRatio='xMidYMid'%3E        %3Cpolygon stroke='none' points='612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 306,341.411 576.521,611.397 612,575.997 341.459,306.011' fill='hsla(0deg, strip-unit(0%)%25, strip-unit(14.5098039216%)%25, 1)'/%3E    %3C/svg%3E") no-repeat center center;
  background-size: 50%;
  width: 50%;
  height: 50%;
  max-width: 2em;
  max-height: 2em;
}

.load-item {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
}
.load-item::before, .load-item::after {
  content: "";
}
.load-item::before {
  display: block;
}
.load-item::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: -1;
}
.load-item > img, .load-item > iframe, .load-item > noscript {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.slide__into {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0.25rem;
  border-color: #252525;
  contain: content;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.slide__into::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
  background: #d7d7d7;
}
.slide__into::-webkit-scrollbar-thumb {
  background: black;
}
.slide__into > * {
  scroll-snap-align: start;
}
.slide__item {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
  position: relative;
}
.slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.slide .slide__video {
  align-items: center;
}
.slide .slide__video img {
  height: auto;
  bottom: 0;
  margin: auto;
}
.slide__is-hidden {
  display: none;
}
.slide--vertical .slide__into {
  flex-direction: column;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}
.slide .slide__into--no-scroll {
  overflow: hidden;
}
.slide__caption {
  position: absolute;
  bottom: 1em;
  left: 0;
  display: flex;
  justify-content: center;
  right: 0;
}
.slide__caption__text {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1.1em;
  padding: 0.25em 1em;
  border-radius: 2em;
  text-align: center;
  min-width: 10em;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

.slide {
  position: relative;
}
.slide__into {
  z-index: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.slide__into::-webkit-scrollbar {
  height: 0.5em;
  background: rgba(0, 0, 0, 0.2);
}
.slide__into::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
.slide--no-scrollbar .slide__into {
  scrollbar-width: none;
}
.slide--no-scrollbar .slide__into::-webkit-scrollbar {
  display: none;
}
.slide__item,
.slide__item img {
  margin: 0;
}
.slide__next {
  transform: rotate(0.5turn);
}
.slide__nav {
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.slide__nav button {
  opacity: 0;
  color: currentColor;
  padding: 0.05em;
  font-size: 5rem;
  position: relative;
  z-index: 2;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 100ms linear, color 100ms linear, opacity 250ms ease-in-out 1s;
}
.slide__nav button:hover, .slide__nav button:focus {
  background: #ffa500;
  border-color: white;
  color: white;
}
.slide__nav button:focus {
  outline-color: #0d1527;
}
@media all and (min-width: 1000px) {
  .slide__nav {
    position: absolute;
  }
}
@media all and (min-width: 1000px) {
  .slide__nav--extend .slide__prev {
    left: -2em;
  }
  .slide__nav--extend .slide__next {
    right: -2em;
  }
}
@media all and (max-width: 1000px) {
  .slide__nav {
    width: 70%;
    flex: 1 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
.slide__thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  justify-content: center;
  margin: 0.5em;
  margin: -0.5rem;
}
.slide__thumbnails > * {
  margin: 0.5rem;
}
.slide__thumbnail {
  position: relative;
  flex: 1;
}
.slide__thumbnail:focus {
  outline-color: #0d1527;
}
.slide__thumbnail::before, .slide__thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slide__thumbnail::before {
  background: whitesmoke;
  opacity: 1;
}
.slide__thumbnail::after {
  display: block;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.slide__thumbnail--is-selected::after {
  opacity: 1;
}
.slide__dot {
  width: 0.5em;
  height: 0.5em;
  margin: 0.5em;
  font-size: 4rem;
  border-radius: 0.5em;
  border: 1px solid gray;
  overflow: hidden;
  flex: 0 0 0.5em;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.slide__dot:focus {
  -webkit-mask-image: none;
}
.slide--is-ready .slide__nav button {
  opacity: 1;
  pointer-events: all;
}

.product--single .product__group {
  flex-wrap: wrap;
  margin: -2rem;
}
.product--single .product__group > * {
  margin: 2rem;
}
.product--single .product__picture {
  flex: 0 1 52rem;
}
.product--single .product__content {
  flex: 1 1 30rem;
}
.product--single .product__title, .product--single .product__price {
  font-weight: bold;
}
.product--single .product__title {
  text-transform: uppercase;
}
.product--single .product__price {
  margin: 2rem 0;
}
.product--single .product__text {
  border-top: 1px solid;
  margin-top: 1rem;
  padding-top: 1rem;
}
.product--single .product__text > * + * {
  margin-top: 1rem;
}
.product--single .product__text > strong {
  display: block;
}
.product--single .product__nav > .product__form {
  flex: 0 1 20em;
}

.slide--product__nav {
  position: absolute;
  z-index: 2;
}

.slide--product {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.slide--product > * {
  margin: 0.5rem;
}
.slide--product > * {
  flex: 1;
}
.slide--product .slide__into {
  flex: 1 1 84rem;
  max-width: 84rem;
  position: relative;
}
.slide--product .slide__thumbnails {
  flex: 1;
  order: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -0.5rem;
  margin: 0;
}
.slide--product .slide__thumbnails > * {
  margin: 0.5rem;
}
.slide--product .slide__thumbnails > a {
  display: block;
  flex: 0 1 9rem;
}
.slide--product .slide__thumbnails > a::after {
  background: transparent;
}
@media all and (max-width: 1060px) {
  .slide--product .slide__thumbnails {
    /* extension to handle scrollable thumbnails */
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .slide--product .slide__thumbnails::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
    background: #d7d7d7;
  }
  .slide--product .slide__thumbnails::-webkit-scrollbar-thumb {
    background: black;
  }
  .slide--product .slide__thumbnails > * {
    scroll-snap-align: start;
  }
  .slide--product .slide__thumbnails > .slide__thumbnail {
    flex-shrink: 0;
  }
  .slide--product .slide__thumbnails > a {
    flex: 0 0 8rem;
    flex-basis: clamp(4rem, 16vw, 8rem);
  }
}
.slide--product .slide__thumbnail {
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease-in-out;
}
.slide--product .slide__thumbnail:hover, .slide--product .slide__thumbnail:focus {
  outline-color: black;
}
.slide--product .slide__thumbnail--is-selected {
  outline-color: #00caff;
}

.product--grid {
  font-weight: bold;
}
.product--grid .product__group {
  flex-direction: column;
}
.product--grid .product__item {
  flex: 0 1 40rem;
}
.product--grid .product__content {
  margin-top: auto;
}
.product--grid .product__price {
  border-top: 1px solid;
  margin-top: 1rem;
  padding-top: 1rem;
}
.product--grid .product__nav {
  justify-content: center;
}
.product--grid .product__nav > a {
  flex: 1 1 12rem;
}

.story-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
}
.story-card__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: -0.5rem;
  flex: 1 1 100%;
  align-items: stretch;
}
.story-card__group > * {
  margin: 0.5rem;
}
.story-card__group > * {
  flex: 1 1 30rem;
}
.story-card__fill {
  width: 100%;
  flex: 1 1 100%;
}
.story-card__item {
  display: flex;
  flex-direction: column;
}
.story-card picture {
  margin: auto;
}
.story-card figure {
  display: flex;
  flex-direction: column;
}
.story-card figure > * + * {
  margin-top: 1rem;
}
.story-card figure > * {
  flex: 0 1 auto;
}
.story-card figcaption {
  flex: 1 1 auto;
}

.story-card--max-four > .story-card__group {
  max-width: 180rem;
  margin: -1rem;
}
.story-card--max-four > .story-card__group > * {
  margin: 1rem;
}
.story-card--max-four .story-card__caption {
  font-size: 2.6rem;
}
.story-card--max-four .story-card__price {
  color: #ffa500;
}

.story-card__image-link {
  position: relative;
  border: 3px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.story-card__image-link:hover, .story-card__image-link:focus {
  border-color: currentColor;
}

.story-card__image-link > .story-card__image-button {
  position: absolute;
  top: 0;
  right: 0;
}

.product {
  font-size: 1.8rem;
}
.product__group {
  display: flex;
  justify-content: flex-start;
  margin: -1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.product__group > * {
  margin: 1rem;
}
.product__carousel {
  flex: 0 1 101rem;
}
.product__form {
  flex: 1 1 50rem;
}
.product__copy > * + * {
  margin-top: 1rem;
}
.product__title {
  font-size: 2.4rem;
}
.product__price {
  font-size: 1.8rem;
}
.product__contain {
  max-width: 50rem;
}
.product__nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  margin: -1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.product__nav > * {
  margin: 1rem;
}
.product__nav > a {
  flex: 0 1 auto;
}
.product__label {
  font-size: 1.8rem;
}
.product__link {
  display: block;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.product__link:hover, .product__link:focus {
  border-color: #00caff;
}

.form--icon-field-combobox .form__contain {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  min-height: 3.75em;
}
.form--icon-field-combobox .form__input {
  text-align: center;
  flex: 2 1 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  outline: 0;
  border: 0;
}
.form--icon-field-combobox .form__input, .form--icon-field-combobox .form__input[disabled] {
  opacity: 1;
}
.form--icon-field-combobox .form__input::-webkit-inner-spin-button, .form--icon-field-combobox .form__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.form--icon-field-combobox .form__button {
  flex: 1 1 4em;
  justify-content: center;
  max-width: 4em;
  min-height: 4em;
  font-size: 0.9em;
  outline: 1px solid #ccc;
  position: relative;
}
.form--icon-field-combobox .form__button::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  background: whitesmoke;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.form--icon-field-combobox .form__button > * {
  position: relative;
}
.form--icon-field-combobox .form__button:hover::before, .form--icon-field-combobox .form__button:focus::before {
  opacity: 1;
}

.form--label-combobox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.form--label-combobox > * {
  margin: 1rem;
}
.form--label-combobox .form__label {
  flex: 0 1 auto;
}
.form--label-combobox .form__contain {
  flex: 0 1 12em;
}

.form--select .form__contain {
  position: relative;
}
.form--select .form__field {
  height: 5rem;
  flex: 1;
}
@supports (height: auto) {
  .form--select .form__field {
    height: auto;
  }
}
.form--select .form__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6rem;
  min-height: 0;
  margin: 2px;
  height: calc(100% - 4px);
  pointer-events: none;
  justify-content: center;
  background: transparent;
  border: 0;
  outline: 0;
  background: white;
}
.form--select .form__button::before {
  content: "";
  height: 100%;
  width: 1px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 0;
}

.dtm .product [class*=icon-] {
  font-family: inherit;
  font-weight: normal;
  font-style: inherit;
  font-variant: inherit;
  line-height: inherit;
  text-transform: inherit;
}

.story-card__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.story-card__buttons > * {
  margin: 1rem;
}
.story-card__buttons > a {
  flex: 0 1 auto;
}

/*# sourceMappingURL=product-detail-page.crp.css.map */
